* {
  margin : 0;
}

.app {
  height : 100vh;
  background-color: #fafafa;   
}
.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding : 20px;
  object-fit: contain;
  background-color: white;
  border-bottom : 1px solid lightgray;
}

.app__headerImage{
  object-fit: contain;
  width : 100px;
  height : 38px;
}

.app__signup {
  display : flex;
  flex-direction : column;
}

.app__imageUpload {
  max-width : 500px;
}

.app__posts {
  display: flex;
  flex-direction : column;
  justify-content: center;
  padding: 20px;
}